[environments.development]
theme = "159569674513"
store = "accelerate-dev-challenge.myshopify.com"
path = "./themes/development"

[environments.production]
theme = "159569674513"
store = "accelerate-dev-challenge.myshopify.com"
path = "./themes/production"
